.page {
    max-width: 1280px;
    margin: 0 auto;
    padding: 32px 20px;
    background: #f3fffd;
    font-family: "Bitter"
}

.showMoreWrapper {
    display: flex;
    justify-content: center;
    margin: 40px 0 20px;
}

.showMoreBtn {
    padding: 14px 40px;
    border-radius: 999px;
    border: none;
    background: rgba(255, 255, 255, 1);
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;

    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.18);
    transition:
            background 0.25s ease,
            transform 0.2s ease;
}

.showMoreBtn:hover {
    background: rgba(74, 92, 39, 0.85);
    transform: translateY(-2px);
    color: white;
}

.showMoreBtn:active {
    transform: translateY(0);
}
